/* Confirm Dialog */

* {
    background-color:       #0c0c0c;
    text-color:             #FFFFFFFF;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			310px;
    padding:    			25px;
    border:					0px 0px 4px 0px;
    border-radius:          0px;
    border-color:           #B9C244;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				#B9C244;
}
